/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --inter-font: 'Inter-Variable';
    --press-start-2p-font: 'PressStart2P-Regular';
    --text-weight: 400;
    --title-weight: 700;
    --header-width: 100%;
    --main-width: 100%;
    --stroke-color: rgb(255 255 255 / 0.7);
    --text-color: #fff;
    --pseudo-bg: #fff;
    --contour-color: #000;
    --animation-fill-color: #FF0000;
}